{% extends 'base.html.twig' %}

{% block title %}Films{% endblock %}

{% block body %}



<div class="movie-container">

    <h1>Results for : {{ search }}</h1>

    <div class="result-container" id="movies">

    {% for movie in movies %}
        <div class="movie">
            <div class="header">
                <h3>{{ movie['Title'] }}</h3>
                <h5>Year : {{ movie['Year'] }}</h5>
            </div>
            {% if movie['Poster'] != "N/A" %}
            <img src="{{ movie['Poster'] }}" class="movie-poster"><br>
            {% else %}
            <img src="img/logo-film.png" class="movie-poster"><br>
            {% endif %}
            <button class="btn btn-success info" id="info" data-id="{{ movie['imdbID'] }}">MORE INFO</button>
            <button class="btn btn-outline-danger" data-toggle="tooltip" data-placement="bottom" title="Add to favorites" id="favorite">+</button>  
            </div>
            
            
    {% endfor %}
    </div>
</div>

        {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script type="text/javascript"> 
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
            });
        </script>    
        <script src="{{ asset('js/infos.js') }}"></script>
        {% endblock %}

{% endblock %}
